body {
  background-color: #7ECAFB;
}

.title {
  color: black;
  margin-top: -50px;
  margin-left: 150px;
  margin-right: 700px;
  font-family: "Verdana",sans-serif;
  align-self: center;
  float: left;
}

.imagenEmpresa {
  height: 50px;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 750px;
  position: relative;
}

#table {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  align-self: center;
  align-content: center;
  width: 520px;
}

.userID {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUserID {
  margin-top: 40px;
  margin-left: 50px;
  width: 70%;
}

.userMail {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUserMail {
  margin-left: 50px;
  width: 70%;
}

.userCity {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUserCity {
  margin-left: 50px;
  width: 70%;
}

.userPasswd {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUserPasswd {
  margin-left: 50px;
  width: 70%;
}

.repeatUserPasswd {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaRepeatUserPasswd {
  margin-left: 50px;
  width: 70%;
}

.username {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUsername {
  margin-left: 50px;
  width: 70%;
}

.usersurname {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUserSurname {
  margin-left: 50px;
  width: 70%;
}

.userPhone {
  margin-left: 50px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #7ECAFB;
  display: inline-block;
  padding: 10px 20px;
}

.cabezaUserPhone {
  margin-left: 50px;
  width: 70%;
}

.crearCuenta {
  padding: 10px 24px;
  margin-left: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 4px;
  border: 1px solid white;
}

.crearCuenta:hover {
  background-color: white;
  border: 1px solid #7ECAFB;
}

a {
  text-decoration: none;
}

