body{
    background-color: #7ECAFB;
}
.title{
    color: black;
    margin-top: -50px;
    margin-left: 150px;
    margin-right: 700px;
    font-family: "Verdana",sans-serif;
    align-self: center;
    float: left;
}
.imagenEmpresa{
    height:50px;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 750px;
    position: relative;
}
#table{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    align-self: center;
    align-content: center;
    width: 520px;
}

.userID{
    margin-left: 50px;
    width: 70%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #7ECAFB;
    display: inline-block;
    padding: 10px 20px;
}
.passwdUser{
    margin-left: 50px;
    width: 70%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #7ECAFB;
    display: inline-block;
    padding: 10px 20px;
}
.cabezaUsuario{
    margin-top: 5px;
    margin-left: 50px;
    width: 70%;
}
.cabezapasswd{
    margin-left: 50px;
    width: 70%;
}
.pregunta{
    margin-left: 260px;
}
.iniciaSesion{
    padding: 10px 24px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 30%;
    border-radius: 4px;
    border: 1px solid white;
}
.registrar{
    padding: 10px 24px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 30%;
    border-radius: 4px;
    border: 1px solid white;
}
.iniciaSesion:hover{
    background-color: white;
    border: 1px solid #7ECAFB;
}
.registrar:hover{
    background-color: white;
    border: 1px solid #7ECAFB;
}
.errors{
    margin-left:50px;
}
.errors p{
    margin-top: 20px;
    width: 75%;
    background-color: lightcoral;
    color: white;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid white;
}
a{
    text-decoration: none;
}

