body{
    background-color: #E6E6FA;
    overflow: auto;
}
#front-menu{
    background-color: #bbc6ed;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: auto;
    padding: 5px 15px;
    position: fixed;
    top:0;
    align-self: center;
    align-content: center;
    width: 100%;
    resize: both;
    overflow: auto;
}
.imagenEmpresa{
    height:40px;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: auto;
    margin-bottom: auto;
    align-self:initial;
    display: inline;
}
#searcher{
    margin-left:300px;
    margin-top: -47px;
    margin-bottom: 15px;
    align-self: center;
    width: auto;
    resize: both;
    position: relative;
    transform: translate(-50%,-50%);
    transition: all 1s;
    top:25px;
    left:50px;
    width: 50px;
    height: 35px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    align-self: center;
    align-content: center;
}
#searcher:hover{
    width: 200px;
    cursor: pointer;
}

#searcher:hover #searcher-input{
    display: block;
}

#searcher:hover .fa{
    background: #07051a;
    color: white;
}

#searcher-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    align-self: center;
    align-content: center;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: -8px;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    align-self: center;
}
#self-perfil{
    text-decoration: none;
    margin-right: 150px;
    margin-left: 50px;
    margin-top: -100px;
    align-self: center;
    align-content: center;
    width: auto;
}
#self-perfil:hover{
    cursor: pointer;
}
#perfil-options{
    margin-top: 80px;
    margin-right: -20px;
    margin-bottom: -30px;
    align-content: center;
    align-self: center;
}
#perfil{
    height:40px;
    align-self: center;
    align-content: center;
}
#menu-options{
    margin-right: 232px;
    margin-top: 40px;
}
#user-options{
    display: inline-block;
    list-style: none;
    position: fixed;
    text-align: left;
    line-height: 30px;
    align-content: center;
}
#user-options li{
    align-self: center;
    text-align: center;
    background-color: #bbc6ed;
    width: 150px;
}
#user-options li:hover{
    background-color: #7ECAFB;
    color: white;
    transition-delay: 100ms;
    cursor: pointer;
}
.images{
    list-style: none;
    display: inline-block;
}
.images li{
    margin-left: 30px;
}
.images li img{
    height: 100px;
}
.inputFile{
    margin-top: 50px;
}